.cart {
    overflow-x: hidden;
    .top {
        display: flex;
        justify-content: space-between;
        padding: 30rpx 20rpx;
        div {
            background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/servicePolicyRed-518d32d74b.png) 0 center no-repeat;
            background-size: 10rpx;
            padding-left: 15rpx;
            display: flex;
            align-items: center;
            font-size: 25rpx;
            color: #666;
        }
    }
    .cartlist {
        background: #fff;
        margin-bottom: 110rpx;
        .item {
            padding: 20rpx 0;
            border-bottom: 1rpx solid #f4f4f4;
            height: 200rpx;
            position: relative;
            .con {
                display: flex;
                align-items: center;
                justify-content: space-between;
                transition: all 300ms ease;
                width: 100%;
                .left {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    .icon {
                        height: 125rpx;
                        width: 62rpx;
                        background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-0e09baa37e.png) no-repeat center center;
                        background-size: 34rpx 34rpx;
                        margin: 0 20rpx;
                    }
                    .icon.active {
                        background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-checked-822e54472a.png) no-repeat center center;
                        background-size: 34rpx 34rpx;
                    }
                    .img {
                        height: 165rpx;
                        width: 165rpx;
                        display: block;
                        background: #f4f4f4;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .info {
                        width: 100%;
                        padding: 20rpx;
                        p {
                            line-height: 40rpx;
                        }
                    }
                }
            }
            .right {
                width: 280rpx;
                position: relative;
                bottom: 60rpx;
                left: 440rpx;
                .operate {
                    float: left;
                    border: 1px solid #eee;
                    width: 20rpx;
                    font-size: 20rpx;
                }
                .num {
                    display: inline-block;
                    width: 30px;
                    height: 23px;
                    font-size: 10px;
                    line-height: 22px;
                    border-top: 1px solid #eee;
                    border-bottom: 1px solid #eee;
                    float: left;
                    text-align: center;
                }
                .delete {
                    height: 30px;
                    width: 30px;
                    position: absolute;
                    right: 0px;
                    top: -4px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .fixed {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 100rpx;
        line-height: 100rpx;
        width: 100%;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
            display: flex;
            align-items: center;
            background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-0e09baa37e.png) no-repeat;
            background-size: 34rpx 34rpx;
            background-position: 20rpx;
            padding-left: 70rpx;
        }
        .active {
            background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-checked-822e54472a.png) no-repeat;
            background-size: 34rpx 34rpx;
            background-position: 20rpx;
        }
        .right {
            display: flex;
            div:nth-child(1) {
                color: #b4282d;
                padding-right: 40rpx;
            }
            div:nth-child(2) {
                width: 200rpx;
                height: 100rpx;
                text-align: center;
                line-height: 100rpx;
                font-size: 29rpx;
                background: #b4282d;
                color: #fff;
            }
        }
    }
    .nogoods {
        margin-top: 200rpx;
        img {
            margin: 0 auto;
            display: block;
            width: 258rpx;
            height: 258rpx;
        }
    }
}